@using VideoTeca.Models
@model video
@{
    ViewBag.Title = "Avaliar Video";
    
}

<div class="list-group" style="margin-top: 5px;">
    <span class="list-group-item active">
        <h3 class="list-group-item-heading" align="center">Avaliar Video</h3>
    </span>
    <div class="panel panel-primary table-responsive">
    </div>
</div>
<br />
<div class="row">
    <div class="mb-1">
        <video id="@Model.id"
               class="video-js ratio ratio-16x9 rounded-3 mb-2"
               controls
               preload="auto"
               width="640"
               height="440"
               poster=""
               data-setup='{"techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "@Model.url"}] }'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
    <div class="detalhes">
        <div class="mb-1">
            <label for="floatingInputTitulo">Título: @Model.titulo</label>
        </div>
        <div class="form-group">
            <label for="floatingInputDescricao">Descrição:</label>
            <textarea class="form-control overflow-auto" id="descricao" name="descricao" maxlength="4000">@Model.descricao</textarea>
        </div>
        <div class="mb-1">
            <label for="floatingInputLink">Link do video: @Model.url</label>
        </div>
        <div>Área: @Model.area.nome</div>
        <div>Subárea: @(Model.subarea != null ? Model.subarea.nome : "Nenhuma subárea")</div>
        <div>Enviado por: @Model.usuario.nome</div>
    </div>
</div>
