@using VideoTeca.Models
@model video
@{
    ViewBag.Title = "Avaliar Vídeo";
}
@using (Html.BeginForm("AvaliarVideo", "Avaliador", FormMethod.Post, new { enctype = "multipart/form-data", id = "avaliarVideo", autocomplete = "on" }))
{
    <div class="list-group" style="margin-top: 5px;">
        <span class="list-group-item active">
            <h3 class="list-group-item-heading" align="center">Avaliar Vídeo</h3>
        </span>
        <div class="panel panel-primary table-responsive">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="mb-1">
            <video id="@Model.id"
                   class="video-js ratio"
                   controls
                   preload="auto"
                   width="640"
                   height="440"
                   poster=""
                   data-setup='{"techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "@Model.url"}] }'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <div class="detalhes">
            <div class="mb-1">
                <label for="floatingInputTitulo">Título: @Model.titulo</label>
            </div>
            <div class="form-group">
                <label for="floatingInputDescricao">Descrição:</label>
                <textarea class="form-control overflow-auto" style="min-height:100px;" id="descricao" name="descricao" maxlength="4000" disabled>@Model.descricao</textarea>
            </div>
            <div class="mb-1">
                <label for="floatingInputLink">Link do vídeo: @Model.url</label>
            </div>
            <div>Área: @Model.area.nome</div>
            <div>Subárea: @(Model.subarea != null ? Model.subarea.nome : "Nenhuma subárea")</div>
            <div>Enviado por: @Model.usuario.nome</div>
        </div>
        <div class="form-group form-check">
            <a class="btn btn-success" style="float: right; color: white; text-decoration: none;" id="aprovado" name="aprovado" onclick="habilitarJustificativa(true)">Aprovado</a>
            <a class="btn btn-danger" style="float: right; color: white; text-decoration: none; margin-right:2px;" id="reprovado" onclick="habilitarJustificativa(false)">Reprovado</a>
        </div>
        <div class="form-group" id="justificativaDiv" style="display: none;">
            <label for="floatingInputDescricao">Justificativa:*</label>
            <textarea class="form-control overflow-auto" id="justificativa" name="justificativa" maxlength="4000" required></textarea>
        </div>
        <div class="form-group form-check">
            <button class="btn btn-primary" type="submit" style="float: right; color: white; text-decoration: none;" id="avaliar" disabled>Salvar</button>
        </div>
        <input type="text" class="form-control" id="id" name="id" hidden="hidden" value="@Model.id">
    </div>
}
@section Scripts {
    <script>
        function habilitarJustificativa(aprovado) {
            var justificativaDiv = document.getElementById("justificativaDiv");
            var avaliarButton = document.getElementById("avaliar");
            var justificativaField = document.getElementById("justificativa");

            if (aprovado) {
                justificativaDiv.style.display = "none";
                justificativaField.disabled = true;
                avaliarButton.disabled = false;
            } else {
                justificativaDiv.style.display = "block";
                justificativaField.disabled = false;
                avaliarButton.disabled = true;
            }
        }

        document.getElementById("justificativa").addEventListener("input", function () {
            var justificativa = this.value.trim();
            var avaliarButton = document.getElementById("avaliar");

            avaliarButton.disabled = justificativa === "";
        });
    </script>

}

