@{
    ViewBag.Title = "Início";
    var perm = Convert.ToInt64(Session["role"]);
}

<div class="container mb-5">
    <div class="text-center mt-5">
        <h1> <strong>Videoteca</strong></h1>
    </div>

    <div class="text-justify mt-5">
        <h2>Com a videoteca, os estudantes poderão assistir aulas exclusivas e avaliadas pela nossa curadoria, trazendo sempre o melhor conteúdo para você.</h2>
    </div>
    
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mt-5">
            <div class="card border-0 shadow h-100">
                <div class="card-header text-white bg-primary">Listagem de videos</div>
                <div class="card-body ">
                    <p class="card-text" style="text-align: justify;">
                        Módulo destinado a listagem de videos.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("ListarVideos", "Home")" class="stretched-link text-decoration-none"><i class="fas fa-award fa-fw"></i> <strong>Acesso aos videos</strong></a>
                </div>
            </div>
        </div>
        @if(perm == 3 || perm == 5) { 
        <div class="col mt-5">
            <div class="card border-0 shadow h-100">
                <div class="card-header text-white bg-primary">Avalie os videos</div>
                <div class="card-body ">
                    <p class="card-text" style="text-align: justify;">
                        Módulo destinado ao professor avaliador, onde ele irá avaliar os videos.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Avaliador")" class="stretched-link text-decoration-none"><i class="fas fa-award fa-fw"></i> <strong>Acesso aos videos</strong></a>
                </div>
            </div>
        </div>
        }
        @if(perm >= 2) { 
        <div class="col mt-5">
            <div class="card border-0 shadow h-100">
                <div class="card-header text-white bg-primary">Envie seu video</div>
                <div class="card-body ">
                    <p class="card-text" style="text-align: justify;">
                        Módulo destinado aos professores que desejam ter seu conteúdo/video em nossa plataforma.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Professor")" class="stretched-link text-decoration-none"><i class="fas fa-award fa-fw"></i> <strong>Acessar</strong></a>
                </div>
            </div>
        </div>
        }
        @if(perm == 5) { 
        <div class="col mt-5">
            <div class="card border-0 shadow h-100">
                <div class="card-header text-white bg-primary">Coordenador</div>
                <div class="card-body ">
                    <p class="card-text" style="text-align: justify;">
                        Módulo destinado ao coordenador do projeto.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Index", "Coordenador")" class="stretched-link text-decoration-none"><i class="fas fa-award fa-fw"></i> <strong>Acesso</strong></a>
                </div>
            </div>
        </div>
        }
        <div class="col mt-5">
            <div class="card border-0 shadow h-100">
                <div class="card-header text-white bg-primary">Usuário</div>
                <div class="card-body ">
                    <p class="card-text" style="text-align: justify;">
                        Módulo destinado a criação de contas.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Login", "Home")" class="stretched-link text-decoration-none"><i class="fas fa-award fa-fw"></i> <strong>Fazer login</strong></a>
                </div>
            </div>
        </div>

    </div>
</div>
