@using VideoTeca.Models
@{
    ViewBag.Title = "Videos";
    List<video> videos = ViewBag.videos;
    List<area> areas = ViewBag.Areas;
}

<form id="filtros-pesquisa">
    <div class="row gx-2 mb-5">
        <div class="col-12 col-lg-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInputTitulo" placeholder="Título ou Palavras-Chave">
                <label for="floatingInputTitulo">Pesquisar por Título ou Palavras-Chave</label>
            </div>
        </div>

        <div class="col-5 col-lg-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect1" aria-label="Floating label select example">
                    <option selected hidden></option>
                    @foreach (var area in ViewBag.Areas)
                    {
                        <option value="@area.id">@area.nome</option>
                    }
                </select>
                <label for="floatingSelect">Área</label>
            </div>
        </div>

        <div class="col-5 col-lg-3">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example" disabled="">
                    <option selected hidden></option>
                </select>
                <label for="floatingSelect">Subárea</label>
            </div>
        </div>

        <div class="col-2 col-lg-1">
            <div class="d-grid gap-0">
                <button type="submit" class="btn btn-primary" style="height: 58px;">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="row row-cols-2 row-cols-lg-4">

    @foreach (var video in videos)
    {
        <!-- Modelo de Coluna para exibir os vídeos -->
        <div class="col mb-5">
            <video id="@video.id"
                   class="video-js ratio ratio-16x9 rounded-3 mb-2"
                   controls
                   preload="auto"
                   width="640"
                   height="240"
                   poster=""
                   data-setup='{"techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "@video.url"}] }'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            <div class="detalhes">
                <div class="fw-bold lh-1 mb-2">@video.titulo</div>
                <div>Enviado por: @video.usuario.nome</div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>

        function BuscarSubArea() {
    var areaId = $('#floatingSelect1').val();
    $.ajax({
        dataType: "json",
        method: "POST",
        url: "@Url.Action("BuscarSubArea", "Home")",
        data: { id: areaId },
    }).done(function (data) {
        var select = $("#floatingSelect");
        select.empty();
        select.append($('<option>', { value: '', text: 'Escolha uma Subárea' }));


        data.forEach(function (item) {
            select.append($('<option>', {
                value: item.Id,
                text: item.Nome
            }));
        });

        select.prop('disabled', false);
    }).fail(function (jqXHR, textStatus, errorThrown) {
        console.error('Erro na chamada AJAX: ' + textStatus);
    });
}


        $('#floatingSelect1').on("change", function (event) {
            BuscarSubArea();
        });
    </script>
}

