@model VideoTeca.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Fazer Login";
}

<h2>Login:</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "loginUsuario", autocomplete = "on" }))
{
    <div class="form-floating mb-3">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Digite seu email", required = "required" })
    </div>

    <div class="form-floating mb-3">
        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Digite sua senha", required = "required" })
    </div>

    <br />
    <a id="btn" href="@Url.Action("CriarConta", "Home")" class="btn btn-info">Criar conta</a>
    <a id="btn-back" href="@Url.Action("Index", "Home")" class="btn btn-info">Voltar</a>
    <button type="submit" class="btn btn-success" id="btnEnvia" name="btnEnvia">
        <span class="fa fa-save fa-w-2"></span>&nbsp;&nbsp;Entrar
    </button>

}
