@using VideoTeca.Models.ViewModels
@model VideoViewModel
@{
    ViewBag.Title = "Editar Vídeo";
}
@using (Html.BeginForm("EditarVideo", "Coordenador", FormMethod.Post, new { enctype = "multipart/form-data", id = "editarVideo", autocomplete = "on" }))
{
    <div class="list-group" style="margin-top: 5px;">
        <span class="list-group-item active">
            <h3 class="list-group-item-heading" align="center">Editar Vídeo</h3>
        </span>
        <div class="panel panel-primary table-responsive">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="mb-1">
            <video id="@Model.Id"
                   class="video-js ratio"
                   controls
                   preload="auto"
                   width="640"
                   height="440"
                   poster=""
                   data-setup='{"techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "@Model.Url"}] }'>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
        </div>
        <div class="detalhes">
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Titulo, "Título:")
                @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control", placeholder = "Título ou Palavras-Chave", required = "required" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Descricao, "Descrição:")
                @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", maxlength = "4000" })
            </div>
            <div class="form-floating mb-3">
                @Html.LabelFor(m => m.Url, "Link do vídeo:")
                @Html.TextBoxFor(m => m.Url, new { @class = "form-control", placeholder = "Link do vídeo", required = "required" })
            </div>
            <div>Área: @Model.AreaNome</div>
            <div>Subárea: @(Model.SubareaNome ?? "Nenhuma subárea")</div>
        </div>
        <div class="form-group form-check">
            <button class="btn btn-primary" type="submit" style="float: right; color: white; text-decoration: none;" id="salvar">Salvar</button>
        </div>
        @Html.HiddenFor(m => m.Id)
    </div>
}

